# --- Python / Django ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
db.sqlite3
.env
venv/
env/
.venv/
*.log
media/
staticfiles/

# Django migrations (optional: keep if you want clean repo)
*/migrations/__pycache__/
*/migrations/*.py